---
import type { MarkdownLayoutProps } from 'astro';
import Layout from './Layout.astro';
type Props = MarkdownLayoutProps<{
  // 在此定義 frontmatter 參數的型別
  title: string;
  author: string;
  date: string;
}>;

const { frontmatter, url } = Astro.props;
---

<Layout>
  <link
    slot='head'
    rel='canonical'
    href={new URL(url, Astro.site).pathname}
  />
  <title>{frontmatter.title}</title>
  <body>
    <h1>{frontmatter.title} by {frontmatter.author}</h1>
    <slot />
    <p>Written on: {frontmatter.date}</p>
  </body>
</Layout>
